<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center;padding-top:5%">
  <b>Hi, I am the playlist component embedded in shell application</b>
</div>
<div style="text-align:center;padding-top: 5%;">
    <table>
      <tr>
        <th>Track</th>
        <th>Album</th>
        <th>Artist</th>
      </tr>
      <tr>
        <td>Kingdom come</td>
        <td>Bang</td>
        <td>World party</td>
      </tr>
      <tr>
        <td>No such thing</td>
        <td>room for square</td>
        <td>john</td>
      </tr>
      <tr>
        <td>sound of fire</td>
        <td>symonds</td>
        <td>jacob</td>
      </tr>
      <tr>
        <td>under bridge</td>
        <td>beatles</td>
        <td>sam</td>
      </tr>
  
    </table>
  </div>