nav {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	text-align: left;
	
}
	
nav li {
	display: inline;
}

nav a {
	padding-left: 10px;
	text-decoration: none;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color: rgb(33, 30, 30);
	font-size: 20px;
}

nav a:hover {
	text-decoration: none;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color: rgb(73, 67, 67);
}

nav a:active {
	color: red;
	
 }

.center {
    width: 50%;
    height: 50%;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 15%;
    
    margin: auto;
  }